<div id="<%= dom_id experience %>">
  <p>
    <strong>User:</strong>
    <%= experience.user_id %>
  </p>

  <p>
    <strong>Titre:</strong>
    <%= experience.titre %>
  </p>

  <p>
    <strong>Entreprise:</strong>
    <%= experience.entreprise %>
  </p>

  <p>
    <strong>Debut:</strong>
    <%= experience.debut %>
  </p>

  <p>
    <strong>Fin:</strong>
    <%= experience.fin %>
  </p>

  <p>
    <strong>Posteactuel:</strong>
    <%= experience.posteactuel %>
  </p>

  <p>
    <strong>Lieu:</strong>
    <%= experience.lieu %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= experience.description %>
  </p>

</div>
