<div id="<%= dom_id formation %>">
  <p>
    <strong>User:</strong>
    <%= formation.user_id %>
  </p>

  <p>
    <strong>Diplome:</strong>
    <%= formation.diplome %>
  </p>

  <p>
    <strong>Ecole:</strong>
    <%= formation.ecole %>
  </p>

  <p>
    <strong>Debut:</strong>
    <%= formation.debut %>
  </p>

  <p>
    <strong>Fin:</strong>
    <%= formation.fin %>
  </p>

  <p>
    <strong>Lieu:</strong>
    <%= formation.lieu %>
  </p>

</div>
