<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Yana Job" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>

  <body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">&#127817; &#x1F33F; &#x1F33A; YanaJob </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/jobs">Offres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/jobs/new">creer une offre demploi</a>
        </li>
      </ul>
    </div>
<%if !user_signed_in? %>
    <form class="d-flex" action="/users/sign_in" role="search">
      <button class="btn btn-outline-secondary" type="submit">Se connecter</button>
    </form>
    <form class="d-flex" action="/users/sign_up" role="search">
      <button class="btn btn-success" type="submit">S'inscrire</button>
    </form>
<%else%>
    <form action="<%=edit_user_registration_path(newexperience: "yes")%>" class="d-flex" role="search">
       <input type="hidden" name="newexperience" value="yes"/>
      <button class="btn btn-outline-secondary" type="submit">ajouter une experience</button>
    </form>
    <form action="<%=edit_user_registration_path(newformation: "yes")%>" class="d-flex" role="search">
       <input type="hidden" name="newformation" value="yes"/>
      <button class="btn btn-outline-secondary" type="submit">ajouter une formation</button>
    </form>
    <form action="<%=edit_user_registration_path%>" class="d-flex" role="search">
      <button class="btn btn-outline-secondary" type="submit">Editer mon profile</button>
    </form>
    <form class="d-flex" role="search" method="delete" action="<%=destroy_user_session_path%>" >
      <button class="btn btn-outline-secondary" type="submit">se deconnecter</button>
    </form>
<%end%>

  </div>
</nav>
    <%= yield %>
<footer>

YanaJob

Dans la jungle de l'emploi en Guyane.


</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
