<h2>Mon profil Candidat</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %>
  </div>
  <div class="field">
    <p><%= f.label :phone %></p>
    <p><%= f.text_field :phone %>
  </div>
  <div class="field">
    <p><%= f.label :cv %></p>
    <p><%= f.file_field :cv %>
  </div>
  <div> 
    <%= f.label :city_id, style: "display: block" %>
    <%= f.select :city_id, City.all.collect {|h|[h.name, h.id]} %> 
  </div>
  <div> 
    <%= f.label :bio, style: "display: block" %>
    <%= f.text_area :bio %> 
  </div>

  <div class="field">
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <p><%= f.label :password %> <i>(leave blank if you don't want to change it)</i></p>
    <p><%= f.password_field :password, autocomplete: "new-password" %></p>
    <% if @minimum_password_length %>
      <p><em><%= @minimum_password_length %> characters minimum</em></p>
    <% end %>
  </div>

  <div class="field">
    <p><%= f.label :password_confirmation %></p>
    <p><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
  </div>

  <div class="field">
    <p><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></p>
    <p><%= f.password_field :current_password, autocomplete: "current-password" %></p>
  </div>
<%=f.fields_for :formations do |form|%>
<div class="newformation">
<h3>nouvelle formation</h3>

  <div>
destroy?
        <%= form.check_box :_destroy%>
  </div>
  <div>
    <%= form.label :diplome, style: "display: block" %>
    <%= form.text_field :diplome %>
  </div>

  <div>
    <%= form.label :ecole, style: "display: block" %>
    <%= form.text_field :ecole %>
  </div>

  <div>
    <%= form.label :debut, style: "display: block" %>
    <%= form.date_field :debut %>
  </div>

  <div>
    <%= form.label :fin, style: "display: block" %>
    <%= form.date_field :fin %>
  </div>

  <div>
    <%= form.label :lieu, style: "display: block" %>
    <%= form.text_field :lieu %>
  </div>

</div>
<%end%>
<%=f.fields_for :experiences do |form|%>
<div class="newexperience">
<h3>nouvelle expérience</h3>
  <div>
destroy?
        <%= form.check_box :_destroy%>
  </div>

  <div>
    <%= form.label :titre, style: "display: block" %>
    <%= form.text_field :titre %>
  </div>

  <div>
    <%= form.label :entreprise, style: "display: block" %>
    <%= form.text_field :entreprise %>
  </div>

  <div>
    <%= form.label :debut, style: "display: block" %>
    <%= form.date_field :debut %>
  </div>

  <div>
    <%= form.label :fin, style: "display: block" %>
    <%= form.date_field :fin %>
  </div>

  <div>
    <%= form.label :posteactuel, style: "display: block" %>
    <%= form.checkbox :posteactuel %>
  </div>

  <div>
    <%= form.label :lieu, style: "display: block" %>
    <%= form.text_field :lieu %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.textarea :description %>
  </div>
</div>

<%end%>

  <div class="actions">
    <%= f.submit "Enregistrer mes informations", class:"btn btn-success" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
